name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.26.0'
        channel: stable
        
    - name: Get dependencies
      run: |
        cd frontend
        flutter pub get
        
    - name: Build web app
      run: |
        cd frontend
        flutter build web --release --base-href "/InnoSync/"
        
    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.ABCD124717 }}
        publish_dir: ./frontend/build/web 